/* F O N T E S */
@font-face {
    font-family: "Combined";
    src: url('/typo/Combined/combined.otf');  
    font-style:   normal;
    font-weight:  normal;
}

@font-face {
    font-family: 'combinedregular';
    src: url('/typo/Combined/web/combined.eot');
    src: url('/typo/Combined/web/combined.eot?#iefix') format('embedded-opentype'),
         url('/typo/Combined/web/combined.woff2') format('woff2'),
         url('/typo/Combined/web/combined.woff') format('woff'),
         url('/typo/Combined/web/combined.ttf') format('truetype'),
         url('/typo/Combined/web/combined.svg#combinedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wremena';
    src: url('typo/Wremema/webfont/wremena_bold-webfont.woff2') format('woff2'),
         url('typo/Wremema/webfont/wremena_bold-webfont.woff') format('woff'),
         url('typo/Wremema/webfont/wremena_bold-webfont.ttf') format('truetype'),
         url('typo/Wremema/webfont/wremena_bold-webfont.svg#wremenabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'wremena';
    src: url('typo/Wremema/webfont/wremena_regular-webfont.woff2') format('woff2'),
         url('typo/Wremema/webfont/wremena_regular-webfont.woff') format('woff'),
         url('typo/Wremema/webfont/wremena_regular-webfont.ttf') format('truetype'),
         url('typo/Wremema/webfont/wremena_regular-webfont.svg#wremenaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wremena';
    src: url('typo/Wremema/webfont/wremena_light-webfont.woff2') format('woff2'),
         url('typo/Wremema/webfont/wremena_light-webfont.woff') format('woff'),
         url('typo/Wremema/webfont/wremena_light-webfont.ttf') format('truetype'),
         url('typo/Wremema/webfont/wremena_light-webfont.svg#wremenalight') format('svg');
    font-weight: normal;
    font-style: 200;
}

@font-face {
  font-family: 'Coupeur Monospace Bold';
  src: url('/typo/Coupeur/webfont/CoupeurMonospace-Bold.eot'); /* IE9 Compat Modes */
  src: url('/typo/Coupeur/webfont/CoupeurMonospace-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/typo/Coupeur/webfont/CoupeurMonospace-Bold.woff') format('woff'), /* Modern Browsers */
       url('/typo/Coupeur/webfont/CoupeurMonospace-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/typo/Coupeur/webfont/CoupeurMonospace-Bold.svg#fcf36b8f65c0f0737cd36a2be6922659') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Coupeur Monospace Normal';
  src: url('/typo/Coupeur/webfont/CoupeurMonospace-Normal.eot'); /* IE9 Compat Modes */
  src: url('/typo/Coupeur/webfont/CoupeurMonospace-Normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/typo/Coupeur/webfont/CoupeurMonospace-Normal.woff') format('woff'), /* Modern Browsers */
       url('/typo/Coupeur/webfont/CoupeurMonospace-Normal.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/typo/Coupeur/webfont/CoupeurMonospace-Normal.svg#4b219f539d302a6ffd9fd41e2da16172') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}



body {
    margin: 0;
    padding: 0;
    background: #f1f2f3;
    overflow: hidden;
}


.links line {
  stroke: #aaa;
  /*stroke: none;*/
}

.links line.active2 {
    stroke: magenta;
}

.links line.history {
    stroke: purple;
}

.active {
    stroke: magenta;
}

.category circle {
    fill: cyan;
}

.web circle {
    fill: purple;
}

.news circle {
    fill: lightgray;
}

.template circle {
    fill: lightgreen;
}

.discussion circle {
    fill: aqua;
}



svg {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    font: 10px sans-serif;
}

svg g.page {
    cursor: pointer;
}

svg g.page text {
    visibility: hidden;
    fill: #222;
    font: 9px sans-serif;
}

svg g.active text {
    /*visibility: visible;*/
}

svg g.mouse text {
    visibility: visible;
}

use {
    fill: #EEE;
    stroke: black;
}

.highlight use {
    fill: #FFF;
    stroke: cyan;
}

.active use {
/*  animation-transform: 2;*/
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.active use {
    fill: #FFF;
    stroke: magenta;
}

.active text {
    stroke: none;
}

.active2 use {
    fill: #FFF;
    stroke: magenta;
}



/* Categories */

#cats .body {
  display: none;
}

#cats .placeholder {
  min-width: 100%;
  text-align: center;
  color: gray;
  font-weight: bold;
  font-size: 12px;
}
#cats.expanded .body {
  display: block;
}

#cats.expanded .placeholder {
  display: none;
}

#cats {
    /*display: none;*/
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: #FFFFFFFF;
    border-radius: 24px;
    padding: 10px;
    font-size: 12px;
    min-width: 16px;
    min-height: 16px;
    box-shadow: 0 3px 3px 3px rgba(255, 0, 255, 0.44);
}

#cats div.cat span.icon {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    margin-right: 4px;
    background-position: center center;
}
#cats div.cat span.count {
  display: none;
    padding: 0px 3px;
    background: #DDD;
    color: #444;
    font-size: 10px;
    margin-left: 4px;
}
#cats div.cat a {
    color: black;
    text-decoration: none;
}
#cats div.cat.highlight a {
    color: cyan;
}
#cats hr {
  color: white;
}


#page {
  position: absolute;
  left: 0; right: 50%;
  top: 0;
  bottom: 0;
}

#wikiframediv {
    position: absolute;
    left: 50%; top: 0;
    right: 0; bottom: 0;
}
#wikiframediv iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* MEDIAWIKI PAGE */
.header-container {
  display: none !important;
}

iframe form.header {
  display: none;
}
/*ul#page-actions {
  display: none;
}
*/
a.talk {
  display:none;
}






/* control positioning */

.leaflet-control {
  position: relative;
  z-index: 800;
  pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
  pointer-events: auto;
  font-size: 12px;
}
.leaflet-control {
  float: left;
  clear: both;
  }

/* general toolbar styles */

.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  }
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}
.leaflet-bar a:hover {
  background-color: #f4f4f4;
  }
.leaflet-bar a:first-child {
  }
.leaflet-bar a:last-child {
  border-bottom: none;
  }
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
  }


/* zoom controls */

.zoom-controls {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10000;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: Combined;
  font-size: 24px;
  line-height: 20px;
  text-indent: 1px;
  box-shadow: 0 3px 3px 3px rgba(255, 0, 255, 0.44);
  background-color: #ffffff;
}

