:root {
    --color-a: #A700FF;
    --color-a-shadow: rgba(167, 0, 255, 0.44);
    --color-b: #00AB6B;
}

/* F O N T E S */
@font-face {
    font-family: "Combined";
    src: url('/mw/skins/foreground/assets/fonts/combined.otf');  
    font-style:   normal;
    font-weight:  normal;
}
@font-face {
    font-family: "Vega";
    src: url('/mw/skins/foreground/assets/fonts/Vega-regular.otf');  
    font-style:   normal;
    font-weight:  normal;
}

@font-face {
 font-family:'FontAwesome';
 src:url(/mw/skins/foreground/assets/fonts/fontawesome-webfont.eot?32400);
 src:url(/mw/skins/foreground/assets/fonts/fontawesome-webfont.eot?32400) format('embedded-opentype'),url(/mw/skins/foreground/assets/fonts/fontawesome-webfont.woff2?db812) format('woff2'),url(/mw/skins/foreground/assets/fonts/fontawesome-webfont.woff?a3572) format('woff'),url(/mw/skins/foreground/assets/fonts/fontawesome-webfont.ttf?a3de2) format('truetype'),url(/mw/skins/foreground/assets/fonts/fontawesome-webfont.svg?f775f) format('svg');
 font-weight:normal;
 font-style:normal
}


body {
    margin: 0;
    padding: 0;
    background: #f1f2f3;
    overflow: hidden;
    font-family: Vega;
}

.links line {
  stroke: #aaa;
  /*stroke: none;*/
}

.links line.active2 {
    stroke: var(--color-a);
}

.links line.history {
    stroke: purple;
}

.active {
    stroke: var(--color-a);
}

.category circle {
    fill: var(--color-b);
}

.web circle {
    fill: purple;
}

.news circle {
    fill: lightgray;
}

.template circle {
    fill: lightgreen;
}

.discussion circle {
    fill: aqua;
}



svg {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    font: 10px sans-serif;
}

svg g.page {
    cursor: pointer;
}

svg g.page text {
    visibility: hidden;
    fill: #222;
    font: 12px Vega;
}

svg g.active text {
    /*visibility: visible;*/
}

svg g.mouse text {
    visibility: visible;
}

use {
    fill: #EEE;
    stroke: black;
}

.highlight use {
    fill: #FFF;
    stroke: var(--color-b);
}

.active use {
/*  animation-transform: 2;*/
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.active use {
    fill: #FFF;
    stroke: var(--color-a);
}

.active text {
    stroke: none;
}

.active2 use {
    fill: #FFF;
    stroke: var(--color-a);
}



/* Categories */

#cats .body {
  display: none;
}

#cats .placeholder {
  min-width: 100%;
  text-align: center;
  position: relative;
  top: 3px;
}
#cats.expanded .body {
  display: block;
}

#cats.expanded .placeholder {
  display: block;
}
#cats.expanded .placeholder:hover {
	color: var(--color-b);
}
#cats.expanded .placeholder:before {
    content: "×";
    font-size: 17px;
    cursor: pointer;
}
#cats .placeholder:before {
    content: "?";
    font-size: 12px;
    cursor: pointer;
}

#cats {
    /*display: none;*/
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: #FFFFFFFF;
    border-radius: 24px;
    padding: 10px;
    font-size: 12px;
    min-width: 16px;
    min-height: 16px;
    box-shadow: 0 3px 3px 3px var(--color-a-shadow);
}

#cats div.cat span.icon {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    margin-right: 4px;
    background-position: center center;
    background-size: contain;
}
#cats div.cat:last-child span.icon {
    background-size: 50%;
}
#cats div.cat span.count {
  display: none;
    padding: 0px 3px;
    background: #DDD;
    color: #444;
    font-size: 12px;
    margin-left: 4px;
}
#cats div.cat a {
    color: black;
    text-decoration: none;
}
#cats div.cat.highlight span.icon {
    background-color: var(--color-b);
    background-blend-mode: screen;
}
#cats div.cat a:hover,
#cats div.cat.highlight a {
    color: var(--color-b);
}
#cats hr {
  color: white;
}


#page {
  position: absolute;
  left: 0; right: 50%;
  top: 0;
  bottom: 0;
}

#wikiframediv {
    position: absolute;
    left: 50%; top: 0;
    right: 0; bottom: 0;
}
#wikiframediv iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* MEDIAWIKI PAGE */
.header-container {
  display: none !important;
}

iframe form.header {
  display: none;
}
/*ul#page-actions {
  display: none;
}
*/
a.talk {
  display:none;
}


/* control positioning */

.leaflet-control {
  position: relative;
  z-index: 800;
  pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
  pointer-events: auto;
  font-size: 12px;
}
.leaflet-control {
  float: left;
  clear: both;
  }

/* general toolbar styles */

.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  }
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}
.leaflet-bar a:hover {
  background-color: #f4f4f4;
  }
.leaflet-bar a:first-child:before {
      content: " ";
      height: 2px;
      display: block;
      }
.leaflet-bar a:last-child {
  border-bottom: none;
  }
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
  }


/* zoom controls */

.zoom-controls {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
}

#specialclosediv {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10000;
  box-shadow: 0 3px 3px 3px var(--color-a-shadow);
  background-color: #ffffff;
  display: none;
}
#specialclosediv a, #specialclosediv a:hover {
  font-size: 24px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}


.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: Combined;
  font-size: 17px;
  line-height: 20px;
  text-indent: 1px;
  box-shadow: 0 3px 3px 3px var(--color-a-shadow);
  background-color: #ffffff;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: auto;
  }

  #container {
    position: absolute;
    left: 0; top: 0;
    right: 0;
    height: 150vh;
  }

  #page {
    position: absolute;
    left: 0; top: 0;
    height: 50vh;
      width: 100vw;
  }

  #wikiframediv {
      position: absolute;
      left: 0; top: 50vh;
      height: 100vh;
      width: 100vw;
  }

}

#specialselectdiv {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
}
#specialselectdiv select {
  box-shadow: 0 3px 3px 3px var(--color-a-shadow);
  background-color: white;
  font-family: Vega;
  font-size: 12px;
  padding: 6px 2px;
  text-transform: uppercase;
}


#specialiframediv {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
}
#specialiframediv iframe {
  width: 100%;
  height: 100%;
  border: none;
}
